#hi {
    
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 60px;
    animation: slidehi 5s 1;

}

#i {
    margin: 0;
    font-weight: 175;
    font-size: 50px;
    font-family: 'Rajdhani', sans-serif;
    animation: slidei 5s 1;
}

#am {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 200;
    font-size: 50px;
    animation: slideam 5s 1;
}

#abhinav {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
    font-size: 80px;
    animation: slideabhinav 5s 1;
}

#kumar {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 200;
    font-size: 60px;
    animation: slidekumar 5s 1;
}

#minim-anim {
    margin: 100 50 50;

}

body {

    
    padding: 0;
}

@keyframes slidehi {
    0% {opacity:0;
        font-size: 500px;
        margin:auto;
        margin-left:40%;
        margin-right: 40%;
        
    }
30%{
    font-size: 500px;
        opacity: 1;
        margin:0;
        
}
    95% {
        font-size:60px;
        opacity: 1;
        margin:0;
    }
}

@keyframes slidei {
    0% {
        opacity: 0;
    }

    50% {
         margin-left: 100%; 
        opacity: 0;
    } 

    100% {
        margin-left: 0%;
        opacity: 1;
    }
}

@keyframes slideam {
    0% {
        opacity: 0;
    }

    50% {
        margin-left: 100%;
        opacity: 0;
    }

    100% {
        margin-left: 0%;
        opacity: 1;
    }
}

@keyframes slideabhinav {
    0% {
        opacity: 0;
    }

    60% {
        margin-left: 100%;
        opacity: 0;
    }

    100% {
        margin-left: 0%;
        opacity: 1;
    }
}

@keyframes slidekumar {
    0% {
        opacity: 0;
    }

    70% {
        margin-left: 100%;
        opacity: 0;
    }

    100% {
        margin-left: 0%;
        opacity: 1;
    }
}
@media screen and (max-width: 420px) {
    body {
       background-color: rgb(255, 255, 255);
       padding:1vh;
    }
    #contact{
        font-family:'Comfortaa', cursive;
        font-size: 20vw;
        display:flex;
        justify-content: right;
    }
      #about{
        font-family:'Comfortaa', cursive;
        font-size: 8vw;
        display:flex;
        justify-content: right;
    }
 }

 #contact{
    font-family:'Comfortaa', cursive;
    font-size: 8vw;
    display:flex;
    justify-content: right;
}
